.jobs-container {
  background-color: #000000;
  font-family: 'Roboto';

  width: 100vw;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.profile-container {
  width: 20%;
  margin-top: 20px;
  margin-left: 20px;
}

.profile-card-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;

  height: 250px;
  width: 350px;
  border-radius: 15px;
  padding-top: 30px;
  padding-left: 20px;
}

.hr-line {
  width: 350px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile-head-text {
  color: #4f46e5;
  font-size: 35px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.bio-text {
  color: #475569;
  font-size: 20px;
}

.employment-types-container {
  text-align: center;
  width: 350px;
}

.jobs-search-and-display-container {
  width: 60%;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-input-container {
  border-color: #2c364c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  border-style: solid;
  border-radius: 10px;
}

.input-search {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 92%;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}

.search-icon {
  color: #ffffff;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.retry-button {
  background-color: #6366f1;
  outline: none;
  border: none;
  cursor: pointer;
  color: #f8fafc;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.retry-container {
  height: 250px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-container {
  height: 250px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs-loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 20px;
}

.jobs-failure-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.failure-jobs-container {
  width: 80%;
  text-align: center;
}

.failure-heading {
  color: white;
  text-align: center;
  padding: 10px;
}

.failure-paragraph {
  color: aliceblue;
  text-align: center;
  padding-bottom: 10px;
}

.failure-button {
  color: white;
  background-color: #6366f1;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.jobs-list-container {
  list-style-type: none;
  width: 100%;
  margin-top: 20px;
}

.no-jobs-container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.no-jobs-img {
  width: 85%;
}

.no-jobs-text {
  padding-top: 10px;
  padding-bottom: 20px;
}
